.heading-primary-main {
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  text-transform: uppercase;
  font-family: 'Gotu', sans-serif;
  letter-spacing: 0.3rem; }

.heading-primary-sub {
  display: block;
  margin: 0.8rem;
  font-family: 'Dancing Script', cursive; }

.container {
  width: 95vw;
  margin: 25px auto;
  display: grid;
  grid-template-rows: 500px 200px 900px; }

.header__text-box {
  background-image: '/images/header-background-code';
  display: grid;
  align-items: center;
  justify-items: center; }

.talents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }

.projects {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }
