@keyframes moveInLeft {
  /* 0% is at the start and 100% is at the end of the animation. Can put diff %s for diff stages in between */
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /* starts at the left */ }
  80% {
    transform: translateX(35px);
    /* then goes a bit to the right with 20px */ }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-35px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header-primary {
  display: grid;
  justify-items: center;
  color: white; }
  .header-primary-main {
    text-transform: uppercase;
    font-family: 'Gotu', sans-serif;
    letter-spacing: 0.3rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .header-primary-sub {
    font-family: 'Dancing Script', cursive;
    display: block;
    align-items: center;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.header-skewed {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  display: grid;
  align-items: end;
  color: #c2b7b7; }

.header-projects {
  text-transform: uppercase;
  color: grey;
  text-align: right;
  position: absolute;
  top: 10%;
  right: 5%;
  width: 85%; }
  .header-projects--sub {
    grid-row: 2 / -1;
    border-top: 1px solid grey;
    padding: 10px; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-1px); }

.btn-yellow {
  background-color: #f5fbb4;
  color: grey; }

.container {
  width: 95vw;
  margin: 25px auto;
  display: grid;
  grid-template-rows: 500px 200px 1200px;
  row-gap: 3rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(174, 232, 245, 0.8), rgba(200, 188, 198, 0.8)), url(/images/header-background-code.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  align-items: center;
  -webkit-clip-pth: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  @supports (clip-path: polygon(0 0)) or (--webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-pth: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }
  .header__text-box {
    display: grid;
    align-items: center;
    justify-items: center; }

.projects {
  display: grid;
  grid-template-rows: repeat(1, 0.6fr) repeat(2, 1.3fr) repeat(1, 0.2fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  background-color: #f1f1f0;
  -webkit-clip-pth: polygon(100% 0%, 0% 14%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0%, 0% 14%, 0% 100%, 100% 100%); }

.project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 60%;
  position: relative; }
  .project__side {
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    --webkit-backface-visibility: hidden; }
    .project__side--front {
      background-image: linear-gradient(to bottom right, #aec5f5, #bcc6c8);
      display: grid;
      grid-template-rows: 1fr 1.3fr; }
    .project__side--back {
      background-image: linear-gradient(to top left, #aec5f5, #bcc6c8);
      transform: rotateY(180deg);
      background-color: lightgrey;
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center; }
      .project__side--back--bottom {
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 5% 90% 5%; }
        .project__side--back--bottom--pic {
          grid-row: 2 / span 1;
          grid-column: 2 / span 1;
          width: 100%;
          height: 100%; }
  .project:hover .project__side--front {
    transform: rotateY(-180deg); }
  .project:hover .project__side--back {
    transform: rotateY(0); }

.talents {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center; }

.talent {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
