$color-primary-light: #fdbb2d;
$color-primary-dark: #ff9500;

$color-secondary-light: #22c1c3;
$color-secondary-dark: #078485;

$color-white: #eee;

$color-gradient-header-top:#aee8f5;
$color-gradient-header-bottom: #c8bcc6;

$color-gradient-cards-top: #aec5f5;
$color-gradient-cards-bottom: #bcc6c8;



// #aee8f5
// #97e3f4
// #6fdff9
// #aec5f5
// #9eb8f0
// #bbaef5
// #ad9ef0
// #dfaef5
// #f5aee8
// #f5aec5
// #bcc6c8
// #c8bcc6