.container {
    // background-color: lightgrey;
    width: 95vw;
    margin: 25px auto;

    display: grid;
    grid-template-rows: 500px 200px 900px;
    

    
}

.header__text-box{
    background-image: '/images/header-background-code';
    display: grid;
    align-items: center;
    justify-items: center;
}

.talents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.projects {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}