.projects {
    display: grid;
    grid-template-rows: repeat(1, 0.6fr) repeat(3, 1.3fr) repeat(1, 0.2fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: $color-background-grey;
    -webkit-clip-pth: polygon(100% 0%, 0% 14%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0%, 0% 14%, 0% 100%, 100% 100%);

    @include respond-tablet-landscape {
        column-gap: 0;
        -webkit-clip-pth: polygon(100% 0%, 0% 10%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 100%);
    }

    @include respond-tablet-portrait {
        grid-template-rows: repeat(1, 0.6fr) repeat(3, 1.3fr) repeat(1, 0.2fr);
        grid-template-columns: repeat(2, 1fr);
        -webkit-clip-pth: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
    }

    
}



.project {
    perspective: 150rem;
    -moz-perspective: 150rem;
    width: 70%;
    position: relative;

    @include respond-tablet-landscape {
        width: 80%;
    }

    &__side {
        height: 100%;
        width: 100%;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        --webkit-backface-visibility: hidden;

        &--front {
            background-image: linear-gradient(
                to bottom right, 
                $color-gradient-cards-top, 
                $color-gradient-cards-bottom
                );

            display: grid;
            grid-template-rows: 1fr 1.3fr;
        }

        &--back {
            background-image: linear-gradient(
                to top left, 
                $color-gradient-cards-top, 
                $color-gradient-cards-bottom
                );
            // already is at 180deg as we start; only the front rotates on transform
            transform: rotateY(180deg);
            background-color: lightgrey;
            font-size: 0.9rem;
            text-align: center;

            @media (pointer: coarse) {
                transform: rotateY(0);
              }
    

            display: grid;
            grid-template-rows: 1fr 1fr;
            align-items: center;
            justify-items: center;

            @include respond-tablet-portrait {
                grid-template-rows: 1fr 2fr;
            }


            &--top {
                grid-row: 1 / span 1;
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: repeat(5, 1fr);
                column-gap: 1rem;
                align-items: center;

                @include respond-tablet-portrait {
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(3, 1fr);
                    align-items: center;
                }

                @include respond-phone {
                    grid-template-columns: 1fr 4fr 1fr;
                }
            }


            &--bottom {
                grid-row: 2 / -1;
                display: grid;
                grid-template-rows: 1fr 4fr 1fr;
                grid-template-columns: 5% 90% 5%;

                &--pic {
                    grid-row: 2 / span 1;
                    grid-column: 2 / span 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
    

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);

    }


}
