.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 20px;
    border-radius: 100px;
    transition: all .2s;

    @include respond-tablet-portrait {
        padding: 10px 1px;
        font-size: .8rem;
    }

    @include respond-phone {
        padding: 5px 5px;
        margin: 5px;
        font-size: 0.7rem;
    }

    @include respond-phone-460 {
        font-size: 0.6rem;
    }
    
    
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.btn:active {
    transform: translateY(-1px);
}

.btn-yellow {
    background-color: $color-background-grey;
    color: grey;
    width: 100%;
    font-size: 0.8rem;

    @include respond-phone {
        font-size: 0.8rem;
    }



    &--site {
        grid-column: 2 / span 3;
        grid-row: 2 / span 1;

        @include respond-tablet-portrait {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
        }

        @include respond-phone {
            grid-column: 2 / 3;
        }

    }

    &--git {
        grid-column: 2 / span 3 ;
        grid-row: 4 / span 1;

        @include respond-tablet-portrait {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
            // grid-column: 4 / span 1;
        }
        @include respond-phone {
            grid-column: 2 / 3;
        }


        &--only {
            grid-column: 2 / span 3;
            grid-row: 3 / span 1;

            @include respond-tablet-portrait {
                grid-column: 2 / span 1;
            }

            @include respond-phone {
                grid-column: 2 / span 1;
                
            }
        }

    }
    
}
