.header-primary {
    display: grid;
    justify-items: center;
    color: white;

    

    &-main {
        text-transform: uppercase;
        font-family: 'Gotu', sans-serif;
        letter-spacing: 0.3rem;   
        display: block;

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;    
        
        @include respond-phone-360 {
            font-size: 1.5rem;
        }
    }

    &-sub {  
        font-family: 'Dancing Script', cursive;
        display: block;
        align-items: center;

        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out; 
        
        font-size: 1.4rem;
    }
}

.header-skewed {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    display: grid;
    align-items: end;
    color: rgb(194, 183, 183);
}
.header-projects {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: grey;
    text-align: right;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 85%;

    @include respond-tablet-landscape {
        font-size: 1.6rem;
    }

    @include respond-tablet-portrait {
        font-size: 1.2rem;
    }

    @include respond-phone {
        font-size: 1.1rem;
    }

    @include respond-phone-460 {
        font-size: 0.9rem;
    }

        
    &--main {

       
    }

    &--sub { 
        grid-row: 2 / -1;
        border-top: 1px solid grey;
        border-width: 80%;;
        padding: 10px;

        @include respond-phone-460 {
            border-top: none;
        }
    
       
    }
}


.about-me-text {
    color: grey;
    font-size: 1.8rem;

    @include respond-tablet-landscape {
        font-size: 1.4rem;
    }

    @include respond-tablet-portrait {
        font-size: 1.2rem;
    }
    @include respond-phone {
        font-size: 1rem;
    }
}



.star {
    color: rgb(245, 245, 140);
    margin-top: 58%;
    margin-left: 75%;

    @include respond-phone {
        margin-left: 60%;
    }
}