.header-primary {
    display: grid;
    justify-items: center;
    color: white;

    &-main {
        text-transform: uppercase;
        font-family: 'Gotu', sans-serif;
        letter-spacing: 0.3rem;   
        display: block;

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;     
    }

    &-sub {  
        font-family: 'Dancing Script', cursive;
        display: block;
        align-items: center;

        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;  
    }
}

.header-skewed {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    display: grid;
    align-items: end;
    color: rgb(194, 183, 183);
}
.header-projects {
    text-transform: uppercase;
    color: grey;
    text-align: right;
        position: absolute;
        top: 10%;
        right: 5%;
        width: 85%;
    

    &--main {
        
    }

    &--sub { 
        grid-row: 2 / -1;
        border-top: 1px solid grey;
        padding: 10px;
       
    }
}
